# Copie este arquivo para .env e preencha os valores
# Configurações do Django
SECRET_KEY=gere-uma-chave-com-python-manage.py-shell
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost

# Configurações do banco de dados PostgreSQL
DB_ENGINE=django.db.backends.postgresql
DB_NAME=nome-do-banco
DB_USER=usuario-do-banco
DB_PASSWORD=senha-do-banco
DB_HOST=localhost
DB_PORT=5432